.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
  padding: 2em 0 1em;
  border-top: 1px solid var(--clr-grey-dark);
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  color: var(--clr-grey-dark) !important;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-left: 1em;
}

.icons {
  display: flex;
}

.icon {
  margin-inline-start: 2em;
}
