.footer {
  background-image: url(/images/background-bottom.svg);
  background-size: cover;
  background-position: top right;
  padding-top: 15%;
  padding-bottom: 2em;
}

.footer h2 {
  color: var(--clr-white);
  text-align: center;
}
